.logo-title {
        font-size: 2rem;
    }

@media (max-width: 768px) {
    .logo-title {
        font-size: 1rem;
    }
}

#tsparticles-js {
  position: fixed;
  top: auto;
  left: 0;
  height: 100vw;
  width: 100vw;
  z-index: 0;
  background: transparent;
}
#tsparticles-js_cs {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: transparent;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
canvas.tsparticles-canvas-el {
  max-width: 100%;
  max-height: 100%;
  z-index: 0;
}